@import "../../utils/vars";

.black {
  background-color: rgb(39, 97, 117);
}
    
.white {
  background-color: #f5d73f;
}
  

.cell {
  width: $bsize-cell;
  height: $bsize-cell;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: $bsize-figure;
    height: $bsize-figure;
    position: relative;
    cursor: pointer;
  }

  &--selected {
    background-color: rgb(41, 180, 166);
  }

  &--available {
    height: $bsize-circle;
    width: $bsize-circle;
    border-radius: 50%;
    background-color: yellowgreen;
  }

  &--available-kill {
    background-color: green;
  }
}
