$bsize-cell: 94px;
$amount-cell: 5;

.board {
  width: $bsize-cell * $amount-cell;
  height: $bsize-cell * $amount-cell;
  display: flex;
  flex-wrap: wrap;
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: #eed4ac;
}
