@import "../../utils/vars";

.board {
  width: $bsize-cell * $amount-cell;
  height: $bsize-cell * $amount-cell;
  display: flex;
  flex-wrap: wrap;

  &__title {
    text-align: center;
    padding: 20px;
  }
}
